# Visual Studio Code
.vscode/

# Python virtual environment
env/

# Only include example configuration files & settings.json
config/*.json
!config/settings.json
!config/*.example.json

# Data folder
data/
